<section id="panel-home" class="sugar-panel">
    <img class="img-parallax" src="images/storefront.jpg" width="100%" du-parallax y="background">
    <div class="sugar-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <center>
                        <img src="images/sugar-sd-logo-full.png"/>
                        <h1>a “sweet” way to get rid of unwanted hair</h1>
                    </center>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="panel-sugaring" class="sugar-panel">
    <img class="img-parallax" src="images/photodune-6960354-brown-sugar-s.jpg" du-parallax y="background">
    <div class="sugar-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>What is Sugaring</h2>
                    <p>Sugaring is an all-natural method of hair removal - A much "sweeter" alternative to wax. Sugaring paste is biodegradable and actually edible.  It is as simple as sugar, lemon and water. Your unwanted hair will be removed by the root using a technique that does not require the use of sticks or strips. This eliminates any worry about "double dipping" that can sometimes be a concern with wax. The temperature of the sugaring paste is body temp to slightly warmed, never hot, so there is absolutely NO risk of burning the skin. Your unwanted hair is removed in the same direction as the hair grows, not against it, like wax. The end result is less broken hairs, less trauma to the skin, and longer lasting results. In addition, sugaring  paste is water-soluble, so you won't leave your appointment with any stickiness from wax residue!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="panel-products" class="sugar-panel">
    <img class="img-parallax" src="images/products.jpg" du-parallax y="background">
    <div class="sugar-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Products I Use</h2>
                    <p>Picture and short description of Tamara Sugar Paste</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="panel-sunless-tanning" class="sugar-panel">
    <img class="img-parallax" src="images/tropical-beach.jpg" width="100%" du-parallax y="background">
    <div class="sugar-content">
        <div class="container">
            <div class="row">
                <!-- <div class="col-xs-12"></div> -->
                <div class="col-xs-12 col-sm-6 col-md-8">
                    <h2>Sunless Tanning</h2>
                    <p>You’ve been hearing it your whole life: protect your skin from the sun! But you live in Southern California and you have to wear shorts and swimsuits SOMEtimes, right?</p>
                    <p>And maybe you’ve tried sunless tanners on yourself, only to discover later while you are out and about that you have a giant orange streak running right up your leg for everyone to see! So how can you have a natural-looking tan that doesn’t cause skin damage but also doesn’t look like you tried applying orange paint on yourself in a dark closet?</p>
                    <p><strong>Answer:</strong> get an airbrush tan, which gives you a precise, natural glow that can last from 7-14 days! It’s fast and convenient and a much healthier option for your skin!</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <center>
                        <img class="img-responsive" src="images/tan-before-after.jpg"/>
                    </center>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="panel-services" class="sugar-panel">
    <img class="img-parallax" src="images/inside.jpg" width="100%" du-parallax y="background">
    <div class="sugar-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Services</h2>
                    <p>List of services and pricing</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="panel-preparation" class="sugar-panel">
    <img class="img-parallax" src="images/sugar-cubes.jpg" width="100%" du-parallax y="background">
    <div class="sugar-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Basic Preparation Guideline</h2>
                    <p>Before your appointment, do not apply any lotions or oils to the area that will be sugared. The ideal length for your first sugaring appointment is about 1/4 inch of growth, which is commonly about three weeks of growth for many areas of the body. If the hair to be removed exceeds 1/2 inch in length, it may be helpful to trim the hair before your appointment to a more ideal length. This is not 100% required, however, it may make your sugaring experience more comfortable.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="panel-contact" class="sugar-panel">
    <div id="map" class="img-parallax"></div>
    <!-- <iframe class="img-parallax" width='100%' height='100%' frameBorder='0' src='https://a.tiles.mapbox.com/v3/justinwoodcock.il70lk8f/attribution,zoompan,zoomwheel,geocoder,share.html'></iframe> -->
    <iframe class="img-parallax" width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v3/justinwoodcock.il70lk8f/attribution,zoompan,zoomwheel,geocoder,share.html'></iframe>
    <div class="sugar-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Contact</h2>
                    <p>Picture of outside of building, google map, address and contact info</p>
                    <a class="btn btn-secondary" href="https://www.google.com/maps/dir//1240+San+Elijo+Rd+N,+San+Marcos,+CA+92078/@33.099112,-117.2031788,17z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x80dc0aebb345f0c7:0xb299a52220fa0b3c!2m2!1d-117.201033!2d33.099112" target="_blank">
                        <i class="icon-map"></i>Get Directions
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>