<div class="container">
    <div class="row">
        <div class="col-sm-5 hidden-xs copyright">
            ©2014 Sugar San Diego All rights reserved.
        </div>
        <div class="col-xs-12 col-sm-7">
            <div class="pull-right buttons">
                <button class="btn btn-secondary" ng-click="viewSpecials()">View Specials</button>
                <button class="btn btn-primary" ng-click="openBooking()">Book an Appointment</button>
            </div>
        </div>
    </div>
</div>