<div class="container">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4 col-sm-offset-0 col-sm-3 col-md-2">
            <a href="#panel-home" du-smooth-scroll du-scrollspy id="logo">
                <img src="images/sugar-sd-logo.png">
            </a>
        </div>
        <div class="col-xs-4 col-sm-9 col-md-10 clearfix">
            <div id="header-actions" class="pull-right" ng-init="navbarCollapsed=false">
                <button type="button" class="navbar-toggle" ng-click="navbarCollapsed=!navbarCollapsed">
                    <i class="icon-menu"></i>
                </button>
                <nav class="collapse navbar-collapse pull-left" collapse="navbarCollapsed">
                    <ul class="nav navbar-nav">
                        <li><a href="#panel-sugaring" du-smooth-scroll du-scrollspy><span class="hidden-sm">What is </span>Sugaring</a></li>
                        <li><a href="#panel-sunless-tanning" du-smooth-scroll du-scrollspy><span class="hidden-sm">Sunless </span>Tanning</a></li>
                        <li><a href="#panel-preparation" du-smooth-scroll du-scrollspy>Prep<span class="hidden-sm">aration</span></a></li>
                        <li><a href="#panel-services" du-smooth-scroll du-scrollspy>Services</a></li>
                        <li><a href="#panel-contact" du-smooth-scroll du-scrollspy>Contact</a></li>
                        <!-- <li ng-show="navbarCollapsed=false"><a href="https://www.sc" ng-click="openBooking()">Book an Appointment</button>
            </div>
        </div>
    </div>
</div>