<div class="container">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4 col-sm-offset-0 col-sm-3 col-md-2">
            <a href="#panel-home" du-smooth-scroll du-scrollspy id="logo">
                <img src="images/sugar-sd-logo.png">
            </a>
        </div>
        <div class="col-xs-4 col-sm-9 col-md-10 clearfix">
            <div id="header-actions" class="pull-right" ng-init="navbarCollapsed=false">
                <button type="button" class="navbar-toggle" ng-click="navbarCollapsed=!navbarCollapsed">
                    <i class="icon-menu"></i>
                </button>
                <nav class="collapse navbar-collapse pull-left" collapse="navbarCollapsed=true">
                    <ul class="nav navbar-nav">
                        <li><a href="#panel-sugaring" du-smooth-scroll du-scrollspy>What is Sugaring</a></li>
                        <li><a href="#panel-sunless-tanning" du-smooth-scroll du-scrollspy>Sunless Tanning</a></li>
                        <li><a href="#panel-preparation" du-smooth-scroll du-scrollspy>Preparation</a></li>
                        <li><a href="#panel-products" du-smooth-scroll du-scrollspy>Products</a></li>
                        <li><a href="#panel-services" du-smooth-scroll du-scrollspy>Services</a></li>
                        <li><a href="#panel-contact" du-smooth-scroll du-scrollspy>Contact</a></li>
                        <li ng-show="navbarCollapsed=false"><a href="https://www.schedulicity.com/Scheduling/Default.aspx?business=SSDQQG#/services" target="_blank">Book an Appointment</a></li>
                    </ul>
                </nav>
                <button class="btn btn-primary book-appointment pull-left" ng-show="navbarCollapsed=true" ng-click="openBooking()">Book an Appointment</button>
            </div>
        </div>
    </div>
</div>