@import url(http://fonts.googleapis.com/css?family=Poiret+One)

html, body
    width: 100%
    height: 100%

h1, h2, h3, h4, h5
    font-family: "Poiret One", cursive

#content
    height: 100%

.btn
    transition: all 100ms linear

.btn-primary
    border: 1px solid $theme-primary
    color: $theme-primary
    background: rgba(255, 255, 255, 0.5)
    border-radius: 0
    padding: 8px 14px
    &:hover
        background: $theme-primary
        color: white
        border: 1px solid darken($theme-primary, 20%)

.btn-secondary
    color: $theme-secondary
    font-size: 14px
    padding: 8px 14px
    border: 1px solid $theme-secondary
    border-radius: 0
    &:hover
        background-color: $theme-secondary
        border-color: 1px solid darken($theme-secondary, 10%)
        color: white

a
    color: $theme-secondary
    &:hover
        text-decoration: none
        color: $theme-secondary

.modal-dialog
    width: 80%
    margin: 130px auto 30px auto

.modal-backdrop
    background-color: rgba($theme-secondary, 0.8)