<section id="panel-{{section.title}}" class="sugar-panel" ng-repeat="section in sections">
    <img class="img-parallax" ng-src="images/{{section.bgImage}}" width="100%" du-parallax y="background">
    <div class="sugar-content">
        <div class="container">
            <div class="row">
                <div ng-bind-html="section.content"></div>
            </div>
        </div>
    </div>
</section>
<section id="panel-services" class="sugar-panel">
    <img class="img-parallax" width="100%" du-parallax y="background" src="images/inside.jpg">
    <div class="sugar-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="pull-left">Services</h2>
                    <div class="pull-right">
                        <button class="btn btn-primary" ng-repeat="service in services" ng-click="selectCategory(service)">{{service[0].category}}</button>
                    </div>
                </div>
                <div class="col-xs-12">
                    <p>List of services and pricing</p>
                </div>
                <div class="col-xs-12" ng-show="selectedCategory===service[0].category" ng-repeat="service in services">
                    {{service[0].category}}
                    <ul>
                        <li ng-repeat="item in service">{{item.title}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="panel-contact" class="sugar-panel">
    <div id="map" class="img-parallax"></div>
    <div class="sugar-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Contact</h2>
                    <p>Picture of outside of building, google map, address and contact info</p>
                    <a class="btn btn-secondary" href="https://www.google.com/maps/dir//1240+San+Elijo+Rd+N,+San+Marcos,+CA+92078/@33.099112,-117.2031788,17z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x80dc0aebb345f0c7:0xb299a52220fa0b3c!2m2!1d-117.201033!2d33.099112" target="_blank">
                        <i class="icon-map"></i>Get Directions
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>