#admin
    position: relative
    #alert-fixed
        position: fixed
        right: 30px
        top: 114px
        .alert-message
            margin-right: 60px
    #content
        padding-top: 80px
        margin-bottom: 120px
    .admin-section
        margin-bottom: 40px
        &:last-child
            margin-bottom: 120px
        &#sections-preview
            margin-bottom: 0i
    .section-preview
        overflow: hidden
        margin-bottom: 30px
        border: 1px solid #ccc
        border-radius: 3px
        cursor: pointer
        .title
            font-size: 14px
            font-weight: bold
            padding: 10px
        i
            padding: 8px 4px
            font-size: 18px
            color: $theme-secondary
        img
            height: 150px
            min-width: 100%

    .ta-toolbar
        margin-bottom: 20px